.date-picker {
  margin: 200px auto;
  width: 300px;
  font-family: 'Josefin Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.grid-grid{
  display: block;
  width: 100%;
  margin: 20px auto;
  color: #fff;
  background: rgba(52, 73, 94,1.0);
  padding: 15px;
  border-radius: 3px;

}

.grid-row:hover{
  background: rgba(52, 152, 219,0.2);
}

.grid-label{
  float: left;
  padding: 3px;
  display: inline-block;
  width: 40px;
}

.grid-row{
  cursor: pointer;
}

.grid-row-inner{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 3px;
  border-radius: 3px;
}


.grid-row-inner span{
  display: inline-block;
  height: 20px;
  width: 2px;
  margin: 1px 5px 1px 1px;
  background: #ecf0f1;

}

.grid-row-inner span.is-active{
  background: #3498db;
}

.hour-view{
  margin: 10px 0;
}

.back{
  background: rgba(52, 73, 94,1.0);
  color: #fff;
  border: 0;
  box-shadow: none;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 5px;

}

.year-label{
  text-align: center;
}

.back:hover{
  cursor: pointer;
  background: #3498db;
}
